@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animation for logos scrolling horizontally */
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Ensure logos are in grayscale */
.logo {
  filter: grayscale(100%);
  width: 160px; /* Adjust to make logos smaller */
}

/* Adjust margin and positioning for the logos */
.logo-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo-container img {
  margin-right: 2rem; /* Adjust as needed */
  margin-left: 2rem; /* Adjust as needed */
}

.logo-container img:last-child {
  margin-right: 0;
}

.scroll {
  display: flex;
  animation: scroll-horizontal 10s linear infinite; /* Slower animation */
}

/* Custom CSS (can be in a global CSS file or a CSS module) */
.arrow::before {
  content: "";
  position: absolute;
  width: var(--tw-width-arrow-large);
  height: var(--tw-height-arrow-large);
  background-color: #333; /* Arrow color */
  clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  transform: translateX(var(--tw-translate-arrow-left)) rotate(90deg); /* Pointing to the right */
}

html,
body,
#__next {
  height: 100%;
  background-color: #f7f5ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  margin: 0;
  font-family: "var(--font-karla)", sans-serif;
}

#root {
  display: flex;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.confetti {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  animation: confettiAnimation 3s ease-out forwards;
}

@keyframes confettiAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}
