@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom CSS (can be in a global CSS file or a CSS module) */
.arrow::before {
  content: "";
  position: absolute;
  width: var(--tw-width-arrow-large);
  height: var(--tw-height-arrow-large);
  background-color: #333; /* Arrow color */
  clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  transform: translateX(var(--tw-translate-arrow-left)) rotate(90deg); /* Pointing to the right */
}

html,
body,
#__next {
  height: 100%;
  background-color: #f7f5ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  margin: 0;
  font-family: "var(--font-karla)", sans-serif;
}

#root {
  display: flex;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.confetti {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  animation: confettiAnimation 3s ease-out forwards;
}

@keyframes confettiAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}
